body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.bold {
  font-family: 'Montserrat', sans-serif;  font-weight: bold;
}

.light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

textarea:focus, input:focus{
  outline: none;
  box-shadow: none !important;
}

textarea, input {
  box-shadow: none !important;
  border: solid;
}